@charset "utf-8";

html{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	direction:ltr;
	overflow-x:hidden;
	overflow-y:scroll;
}

body{
	
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	background-color:white;
	font-family:Arial, "Helvetica Neue", Helvatica, sans-serif;
	line-height:1.5;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	overflow-x: hidden;
    overflow-y: auto;
}

#TumSayfaAlani{
	position:relative;
	width:100%;
	min-width:100%;
	max-width:100%;
	height:100%;
	min-height:100%;
	max-height:100%;
	margin:0 auto;
	padding:0;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:none;
	outline:none;
	background-color:white;
}

#HeaderAlani{
	position:fixed;
	display:block;
	z-index:99;
	width:100%;
	min-width:100%;
	max-width:100%;
	height:auto;
	margin:0 auto;
	padding:0;
	top:0;
	left:0;
	background-color:#ccc;
	text-align:center;
}


.login-body {
    background: #667db6;
    background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}
.container {
    max-width: 100%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-signin1 {
    max-width: 330px;
    margin: 300px auto 0;
    background: #fff;
    border-radius: 5px;
    border-radius-webkit-: 5px;
    box-shadow: 0px 0px 5px 0px rgba(142, 139, 133, 0.32) !important;
}
.form-signin1 h2.form-signin-heading1 {
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    background: #41cac0;
    border-radius: 5px 5px 0 0;
    border-radius-webkit-: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    line-height: 36px;
    
}
.login-wrap {
    padding: 20px;
}
.login-wrap a{
	text-decoration:none;
}
.form-signin1 .btn-login1 {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}
.btn-group-lg1 > .btn1, .btn-lg1 {
    font-size: 15px;
    padding: 7px 20px;
    line-height: 32px;
}
.btn-block1 {
    display: block;
    width: 100%;
}
.btn1 {
    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
}

.form-signin {
    max-width: 330px;
    box-shadow: rgba(142, 139, 133, 0.32) 0px 0px 5px 0px !important;
    margin: 300px auto 0px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.form-signin h2.form-signin-heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 20px 15px;
    background: rgb(65, 202, 192);
    border-radius: 5px 5px 0px 0px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    box-shadow: none;
    font-size: 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    border-image: initial;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
}

input {
	
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
  
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    box-shadow: none;
    font-size: 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}

.form-signin .btn-login {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    box-shadow: rgb(229, 107, 96) 0px 4px;
    margin-bottom: 20px;
    background: rgb(246, 122, 110);
}
.btn-group-lg > .btn, .btn-lg {
    font-size: 15px;
    line-height: 32px;
    padding: 7px 20px;
}
